/* Globals */
.html,
body,
.App {
  height: 100vh;
  background-color: lightgray;
}

.App-the-shoppies {
  width: 75%;
}

h5 {
  margin: 0.5em;
}

li {
  margin: 0.5em;
  display: list;
}

/* App level */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-the-shoppies {
  font-size: calc(10px + 2vmin);
}

.card.search-container {
  margin: 1em;
  width: 75%;
}

.results-nominations {
  display: flex;
  width: 75%;
}

.card.search-results {
  width: 100%;
  min-height: 20em;
  margin: 1em;
}

.card.nominations {
  width: 100%;
  min-height: 20em;
  margin: 1em;
}
