/* .App {
  text-align: center;
} */
.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* width: 50%; */
  /* align-items: center; */
}

.App-the-shoppies {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* width: 50%; */
  /* align-items: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.results-nominations {
  display: flex;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
